# DB Setting
DB_URL=your_db_url
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# JWT
JWT_SECRET=your_jwt_secret_key_at_least_32_characters

# admin
ADMIN_PASSWORD=your_admin_password

# AI API KEY
GOOGLE_API_KEY=your_google_api_key
OPENAI_API_KEY=your_openai_api_key